@model Phim
<form asp-action="Update" method="post" enctype="multipart/form-data">
    <h2>Add Phim</h2>
    <hr />

    <div class="row">
      
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
